@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Sora:wght@200;300;400;500;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus{
  outline: 0;
}

.some{
  color: #434343cc;
}

/* body{
  display: flex;
}

#root{
  display: flex;
  height: 100%;
  width: 100%;
} */

html{
  scroll-behavior: smooth;
}

header {
  box-shadow: 0px 1px 0px 0px #dbdcdd;
}

.sub-heading {
  color: #141414;
  font-family: "Sora";
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
}

/* styling and animation for hamburger menu */
@media screen and (max-width: 700px) {
  .navbar {
    opacity: 0;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    position: fixed;
    width: 90%;
    flex-direction: column;
    z-index: 25;
    transition: 0.3s ease;
    display: flex;
    padding: 50px 0;
    gap: 20px;
  }

  .navbar.active {
    display: flex;
    opacity: 1;
    pointer-events: all;
    border-radius: 10px;
    color: white;
    width: 80%;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: fit-content;
    gap: 4px;
    cursor: pointer;
    z-index: 20;
    position: absolute;
    right: 40px;
  }

  .ham-bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 3px;
    transition: 0.3s;
  }

  .hamburger.active .ham-bar-1 {
    animation: animBar-1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }

  .hamburger.not .ham-bar-1 {
    animation: animBar-1-reverse;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
  }

  .hamburger.active .ham-bar-2 {
    transform: translateX(20px);
    opacity: 0;
  }

  .hamburger.active .ham-bar-3 {
    animation: animBar-3;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-duration: 0.5s;
  }

  .hamburger.not .ham-bar-3 {
    animation: animBar-3-reverse;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-duration: 0.5s;
  }

  @keyframes animBar-1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(7px) rotate(45deg);
    }
  }
  @keyframes animBar-1-reverse {
    0% {
      transform: translateY(7px) rotate(45deg);
    }

    50% {
      transform: translateY(7px);
    }

    100% {
      transform: translateY(0px);
    }
  }
  @keyframes animBar-3 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(-7px) rotate(-45deg);
    }
  }
  @keyframes animBar-3-reverse {
    0% {
      transform: translateY(-7px) rotate(-45deg);
    }
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

